<!-- <div class="container"> -->

<div class="row justify-content-center form-container">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-self-center">
        <h1 class="pl-4 bold">Welcome Back</h1>
        <form>
            <mat-form-field appearance="outline">
                <!-- <mat-label>Favorite food</mat-label> -->
                <input matInput placeholder="Username/Email" value="" autocomplete="false">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <!-- <mat-label>Leave a comment</mat-label> -->
                <input matInput type="password" placeholder="Password" value="" autocomplete="false">
            </mat-form-field>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <span class=" bold pointer" routerLink="../forgot-password">Forgot password?</span>
                </div>
            </div>
        </form>
        <button class=" full-width mt-3 p-2" mat-flat-button color="primary" (click)="login()">Login</button>

    </div>
    <div class="col-md-9 col-sm-0 col-xs-0 side-screen">

    </div>
</div>
<!-- </div> -->