.spacer {
    flex: 1 1 auto;
}

.title {
    color: #673ab7;
    padding: 10px;
}

.toolbar {
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}
.profile-button{
    border: 2px solid #673ab7;
    color: #673ab7;
}