<!-- <div class="container"> -->

<div class="row  form-container">
    <div class="col-md-3 align-self-center">
        <h1 class="pl-4 bold">Forgot Password</h1>
        <form>
            <mat-form-field appearance="outline">
                <!-- <mat-label>Favorite food</mat-label> -->
                <input matInput placeholder="Username/Email" value="" autocomplete="false">
            </mat-form-field>
        </form>
        <button class="col-md-4 full-width mt-3 mr-3 p-2" mat-flat-button color="accent" routerLink="../">Back</button>
        <button class="col-md-7 full-width mt-3 p-2" mat-flat-button color="primary" (click)="reset()">Reset</button>

    </div>
    <div class="col-md-9 side-screen">

    </div>
</div>
<!-- </div> -->