/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.pull-right {
    float: right !important;
}

.bold {
    font-weight: bold !important;
}

.pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}
.row{
    max-width: 100%;
}